<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Professores</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
</head>
<body>
    <table>
        <tr>
          <th>ID</th>
          <th>NOME</th>
        </tr>
        <tr th:each="prof : ${lista}">
          <td th:text="${prof.id}">1</td>
          <td th:text="${prof.nome}">Professor Angoti</td>
        </tr>
      </table>    
</body>
</html>